# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [ ]:
def add_two(x): #function
    return x+2
print(add_two(3)) # represent lambda
print(add_two)

# lambda function.
lambda x: x+2 # function

(lambda x: x+2)(3)

#### Saving to a Variable

In [ ]:
f = lambda x,y : x+y+2
(lambda x,y : x+y+2)(2,3)
f(2,3)

#### Multiple Inputs

In [ ]:
(lambda x,y,z : x*y*z)(3,5,8)
three_multiply = lambda x,y,z : x*y*z
three_multiply(3,5,8)

#### Passing a Lambda into a Function

In [ ]:
def muliply(f,num):
    return f(num)
muliply(lambda x: x*x, 4)

#### Returning a Lambda from a Function

In [ ]:
def return_func(): # if using a parameter
    def multiply(num):
        return num*num
    return multiply
# return_func() represents muliply
return_func()(5)  # "name" parameter

def return_lamb(b,c):
    return lambda x,a: x+a+b+c

return_lamb(2,4)(5,7)

#### If Statements within Lambdas

In [ ]:
#Lambda x : True if (condition) else false
f = lambda num : num*2 if num > 10 else num + 2

f(10)
f(12)

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [ ]:
f = lambda cube : cube**3
f(3)

In [ ]:
#get good at reading Documentation because this is your lifelinealso
help(sorted)

In [ ]:
sorted([2,7,3486,2446,647,45778], reverse=True)

In [ ]:
j ={
    "name": "jesus",
    "age": 8
}
t = {
    "name": "tate",
    "age": 18
}
m = {
    "name": "McCall",
    "age": 23
}
a = {
    "name": "Anu",
    "age": 97
}

people = [m,j,a,t]
print(people)
# lambda function must return the value you want to sort on
my_lamb = lambda person_dict: person_dict["age"]
print(sorted(people, key = my_lambda))

print(sorted(people, key = lambda person_dict: person_dict["age"])) # for person_dict in person_dict
print(sorted(people, key = lambda person_dict: person_dict["age"], reverse=True))

In [ ]:
#Using Lambdas with sort to sort a list of dictionary by a key from highest to smallest

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [ ]:
# map(func,iterable(list,dict,tuple,set,etc...))
# Normally the usage of map happens with a pre-defined function -- but can use lambdas as well
help(map)

In [ ]:
def squared(num, num2):
    if num <10 and num2 <10:
        return num**2, num2**2
    else:
        return num, num2
    
numbers = [4,10,3,2,6]
more_nums = [4,11,20,3,15]
squared_nums_map = map (squared,numbers,more_nums)
list(squared_nums_map)

In [ ]:
numbers = [4,10,3,2,6]
squared_nums = list(map(lambda x: x**2 if x<10 else x, numbers))
squared_nums

#### Using Lambda's with Map

In [ ]:
squared_num2 = list(map(lambda x1, y1: (x1**2, y1**2) if x1 < 10 and y1 <10 else (x1,y1),numbers,more_nums))
squared_num2

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number and minus it by one in the list by using a lambda function</p>

In [ ]:
nums = [4,2,6,8]

dub_minus_one = list(map(lambda x: (x*2)-1, nums))
dub_minus_one

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [ ]:
help(filter)

In [ ]:
# filter the list for first names starting with T
names = ["Jesus","Tim","Christina","Eduardo","David", "Tate"]

def t_names(name):
    if name[0].lower() == "t":
        return True
    else:
        return False
new_names_list = filter(t_names, names)    
list(new_names_list)

#### Using Lambda's with Filter()

In [ ]:
new_names_lamb = list(filter(lambda name: True if name[0].lower() == "t" else False, names))
new_names_lamb

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [ ]:
from statistics import mean
mean([1,2,3])

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [ ]:
from functools import reduce
# reduce(function,iterable)
help(reduce)

In [ ]:
list_1 = [2,4,6,8,10]

def subtract_nums(num1, num2):
    return num1 - num2
result = reduce(subtract_nums, list_1)
result

#### Using Lambda's with Reduce()

In [ ]:
l_3 = [1,10,2,30]
result_lamb = reduce(lambda x,y : x-y, l_3)
result_lamb

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [ ]:
l_5 = [1,2,3,4]

multi_lamb = reduce(lambda x,y : x*y, l_5)
multi_lamb

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

In [ ]:
def recursive(i):
    print("Hi")
    if i == 4:
        return
    i+=1
    recursive(i)
    
recursive(0)

#### Implementing a Base Case

In [ ]:
def add_nums(num):
    # set base case
    if num <= 1:
        print("add_nums(1)=1")
        return num
    else:
        print(f"add_num({num}) = {num} + add_nums({num -1})")
        return num + add_nums(num-1)
add_nums(5)

#### Writing a Factorial Function

In [ ]:
# 5! = 5*4*3*2*1
def factorial(num):
    # set base case
    if num <= 1:
        return 1
    else:
        print(f"factorial({num}) = {num} + factorial({num-1})")
        return num * factorial(num-1)
factorial(5000)

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

In [31]:
n = 5
def subtract(num):
    if num <= 1:
        return 1
    else:
        print(f"{num} - subtract({num-1})")
        return num - subtract(num-1)
subtract(5)    #fibunacci sequence

5 - subtract(4)
4 - subtract(3)
3 - subtract(2)
2 - subtract(1)

3

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

In [ ]:
list(range(5))

In [ ]:
def my_range(n):
    for i in range(n):
        yield i
        
list(my_range(5))        # yield creates a list -- generator

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [ ]:
def range_squared(start, stop, step=1):
    while start > stop:
        yield start **2
        start -= step
for num in range_squared(0,10,1):
    print(num)

#### Infinite Generator

In [ ]:
# bad, never create infinite loops

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

In [ ]:
def my_range(start, stop, step=1):
    while start < stop:
        yield start
        start *= step
print(list(my_range(1,5,1)))

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [124]:
places = [" ","Argentina", " ", "San Diego",""," ","","Boston","New York"]
def no_place(place):
    if place != " " and place != "":
        return True
    else:
        return False

new_list = filter(no_place, places)
list(new_list)

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [58]:
# CAP matters
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]
author.sort(key=lambda name: name.split(" ")[-1].lower())
print(author)

['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [12]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]

Fahrenheit = lambda data: (data[0], (9/5)*data[1] + 32)

list(map(Fahrenheit, places))

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [110]:
def fib(n):
    if n == 1:
        return 1
    elif n == 2:
        return 1
    elif n >1:
        
        return fib(n-1) + fib(n-2)
for n in range(0, 7):
    print("iteration", n, ":", fib(n))

iteration 0 : None
iteration 1 : 1
iteration 2 : 1
iteration 3 : 2
iteration 4 : 3
iteration 5 : 5
iteration 6 : 8